<div class="home-container">
  <ol class="instructions-paragraph">
    <li>Select a genre, difficulty, and number of questions.</li>
    <li>For each question, you will hear a clip of the song.</li>
    <li>Select the song's information from the four options.</li>
  </ol>
  <div *ngIf="authLoading || configLoading">Loading...</div>
  <div *ngIf="!authLoading && !configLoading" id="link-container">
    <app-nav-button link="/play" content="Play" id="play-link" class="nav-button"></app-nav-button>
    <app-nav-button link="/leaderboard" content="Leaderboard" id="leaderboard-link" class="nav-button"></app-nav-button>
    <app-nav-button link="/settings" content="Settings" id="settings-link" class="nav-button"></app-nav-button>
  </div>
</div>